.container {
    width: 960px;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}
