* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(../images/background.png);
    background-repeat: repeat;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 25px;
}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.one {
    padding: 20px;
    border: 1px solid #cccccc;
    margin-bottom: 25px;
    background-color: #ffffff;
    width: 960px;
}

.about-me-heading {
    padding-bottom: 20px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    line-height: 1.5;
}

.img1 {
    float: left;
}

.row {
    margin: 10px;
}

.footer {  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #666666;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
    .img1 {
        float: none;
    }

    
    .one {
        width: 450px;
    }
}

